body {
    font-family:Verdana;
    color:black;
    margin:0;
}

* {
    box-sizing: border-box;
}

/*header*/
header {
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
}

.up-bar {
    width: calc(100% - 90px);
    padding: 1% 0;
    background-color:black;
    color:white;
    text-align:center;
    min-height: 65px;
}

.up-bar h1 {
    margin: 0;
    padding: 0;
}

.dropdown {
    width: 90px;
    min-height: 65px;
    padding: 1% 0;
  background-color: #5433ff;
}

.dropbtn {
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 67px;
    right: 0;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #5433ff;
  color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover, .dropbtn:hover {
    background-color: orange;
}

.dropbtn:focus, .dropbtn:active {
    outline: none;
}

/*index*/
.containerIndex {
  background: linear-gradient(to bottom right, #5433ff, #20bdff, #a5fecb);
  height: 100vh;
}

.home-image {
    width: auto;
    height: 500px;
    border-radius: 10%;
}

.linkMenu {
    width:80%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex: wrap;
    padding: 5% 0%;
}

.linkMenuOptions {
    width: 20%;
    background-color: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.linkOption {
    text-decoration: none;
  font-size: 25px;
  color: white;
    padding: 8%;
  font-weight: bold;
}

.linkOption:hover {
    font-size: 22px;
    color: orange;
}

.mainIndex {
    width: 80%;
    padding: 6% 10%;
}

.mainIndex p{
    text-align: center;
}

/*about*/
.mainAbout {
    width: 70%;
    margin: 0 auto;
    margin-top: 3%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

div.photo {
    border: 1px solid silver;
}

div.photo:hover {
    border: 1px solid gray;
}

div.photo img {
    width: 100%;
    height: auto;
}

.gallery {
    padding: 0 6px;
    float: left;
    width: 25%;
}

/*curriculum*/

.mainCurriculum {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 5%;
}

.right {
    width: 50%;
}

.rightImg {
    border-radius: 10%;
    width: 80%;
    margin: 0 auto;
}

.left {
    width: 50%;
}

.justify{
    text-align:justify;
}

center {
    text-align: center;
}

/*footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.bottomFooter {
    background-color:whitesmoke;
    text-align:center;
    padding:10px;
    margin-top:7px;
}

.footerLink {
    text-align:center;
}

.footerLink a {
    margin-top: 5px;
}

.link,
.link:visited {
  background-color: #5433ff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.link:hover, .link:active {
    background-color: orange;
}

/*animation home*/
.box {
  width: 200px;
  height: 200px;
  margin-left: 80%;
  margin-top: -10%;
  animation: fly 10s infinite linear;
  transform: rotate(0.8turn);
}

.body {
  position: relative;
  width: 40%;
  height: 50%;
  background-color: white;
  top: 20%;
  left: 30%;
}

.head {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 50%;
  top: -40%;
}

.window-out {
  position: relative;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #ffd131;
  top: 30%;
  left: 15%;
}

.window-in {
  position: relative;
  width: 83%;
  height: 83%;
  border-radius: 50%;
  border: 1px solid black;
  background-color: black;
  top: 8.5%;
  left: 8.5%;
}

.wing1 {
  position: absolute;
  top: 40%;
  right: 0;
  left: -80%;
  margin-right: 99.5%;
  padding-bottom: 75%;
  background: red;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.wing2 {
  position: absolute;
  top: 40%;
  left: 0;
  right: -80%;
  margin-left: 99.5%;
  padding-bottom: 75%;
  background: red;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.tail1 {
  position: absolute;
  width: 11%;
  height: 50%;
  background-color: tomato;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  left: 0%;
  bottom: -50%;
  animation: move1 2s infinite;
}

.tail2 {
  position: absolute;
  width: 11%;
  height: 30%;
  background-color: tomato;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  left: 44%;
  bottom: -30%;
  animation: move2 2s infinite;
}

.tail3 {
  position: absolute;
  width: 11%;
  height: 50%;
  background-color: tomato;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  left: 89%;
  bottom: -50%;
  animation: move1 2s infinite;
}

@keyframes move1 {
  0% {
    height: 50%;
    bottom: -50%;
  }
  50% {
    height: 25%;
    bottom: -25%;
  }
  100% {
    height: 50%;
    bottom: -50%;
  }
}

@keyframes move2 {
  0% {
    height: 30%;
    bottom: -30%;
  }
  50% {
    height: 15%;
    bottom: -15%;
  }
  100% {
    height: 30%;
    bottom: -30%;
  }
}

@keyframes fly {
  0% {
    margin-top: 10%;
    margin-left: 80%;
  }
  100% {
    margin-top: -40%;
    margin-left: -20%;
  }
}

/*mobile view*/

@media only screen and (max-width: 780px) {
    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    .mainAbout {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 700px) {
    .up-bar {
        padding: 2% 0;
    }

  .dropdown {
        padding: 2% 3%;
    }

    .gallery {
        width: 50%;
        margin: 6px 0;
    }
    .footerAbout {
        position: inherit;
    }
    .footerProjects {
        position: absolute;
    }
    .footerIndex {
    position: fixed;
    }
}

@media only screen and (max-width: 620px) {
    .mainAbout {
    width: 100%;
  }

  .linkMenu {
    width: 95%;
    }
}

@media only screen and (max-width: 500px) {
    .up-bar {
        padding: 3% 0;
    }

  .up-bar h1 {
    font-size: 20px;
    padding: 3%;
  }

  .dropdown {
        padding: 3% 5%;
    }
    
    .gallery {
        width: 100%;
    }

    .mainAbout {
        width: 80%;
        margin: 0 auto;
    }

  .linkMenu {
    display: flex;
    flex-direction: column-reverse;
  }

    .linkMenuOptions {
    width: 80%;
  }

  .linkOption {
    padding: 2%;
    font-size: 18px;
    }

    .mainIndex {
    width: 90%;
    margin: 0 auto;
    padding: 0%;
  }

  .box {
    width: 150px;
    height: 150px;
    margin-left: 50%;
    margin-top: -40%;
    animation: none;
    transform: none;
  }
}

@media only screen and (max-width: 330px) {
  body,
  html {
    font-size: 16px;
    }
}
