body {
    font-family:Verdana;
    color:black;
    margin:0;
}

* {
    box-sizing: border-box;
}

/*header*/
.dropbtn {
    background-color: yellowgreen;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    height: 70px;
    float: right;
    width: 90px;
}

.up-bar {
    background-color:black;
    color:white;
    text-align:center;
    height: 70px;
    font-size: 15px;
    float: left;
    width: calc(100% - 90px);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: yellowgreen;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: orange;
}

/*index*/
.home-image {
    width: auto;
    height: 500px;
    border-radius: 10%;
}

.linkMenu {
    width:80%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex: wrap;
    padding: 5% 0%;
}

.linkMenuOptions {
    width: 20%;
    background-color: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.linkOption {
    text-decoration: none;
    font-size: 20px;
    color: rebeccapurple;
    padding: 8%;
}

.linkOption:hover {
    font-size: 22px;
    color: orange;
}

.mainIndex {
    width: 80%;
    padding: 6% 10%;
}

.mainIndex p{
    text-align: center;
}

/*about*/
.mainAbout {
    width: 70%;
    margin: 0 auto;
    margin-top: 8%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

div.photo {
    border: 1px solid silver;
}

div.photo:hover {
    border: 1px solid gray;
}

div.photo img {
    width: 100%;
    height: auto;
}

.gallery {
    padding: 0 6px;
    float: left;
    width: 25%;
}

/*curriculum*/

.mainCurriculum {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 10%;
}

.right {
    width: 50%;
}

.rightImg {
    border-radius: 10%;
    width: 80%;
    margin: 0 auto;
}

.left {
    width: 50%;
}

.justify{
    text-align:justify;
}

center {
    text-align: center;
}

/*footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.bottomFooter {
    background-color:whitesmoke;
    text-align:center;
    padding:10px;
    margin-top:7px;
}

.link, .link:visited {
    background-color:yellowgreen;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.link:hover, .link:active {
    background-color: orange;
}

/*mobile view*/

@media only screen and (max-width: 780px) {
    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    .mainAbout {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 700px) {
    .gallery {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width:620px) {
    .mainAbout {
      width:100%;
    }
}

@media only screen and (max-width: 500px) {
    .gallery {
        width: 100%;
    }
    .dropbtn {
        width: 20%;
    }
    .up-bar {
        width: 80%
    }
    .mainAbout {
        width: 80%;
        margin: 0 auto;
    }
    .linkMenuOptions {
        width: 30%;
    }
    .mainIndex {
        width: 70%;
        padding: 5% 0%;
        padding-left: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .dropbtn {
        width: 20%;
    }
    .up-bar {
        width: 80%
    }
}
